{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock title %}

{% block content %}

    <br>
    <div class="container">
        <div class="row">
            <div class="col">

                <p class='text-center text-success display-1'>User Login</p>

                <form action="" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class='btn btn-lg btn-outline-success'>Login</button>
                    {% if request.GET.next %}
                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                    {% endif %}
                </form>

                <br>
                <p class="text-primary">Need an account? <a href="{% url 'users:register' %}">Register</a> </p>

            </div>
        </div>
    </div>

{% endblock content %}