{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}

    <br>

    <div class="container">
        <div class="row">
            <div class="col">

                <h1 class="text-center text-success display-1">Welcome to Blogify</h1>

                <br>

                <div class='text-center'>
                    <img class="img-fluid" src="https://images.unsplash.com/photo-1519337265831-281ec6cc8514?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="blogging photo"> 
                </div>

                <br>

                <div class="text-center">
                    <p class="display-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere illum odit ex voluptatem. Vero ea repudiandae porro fuga consectetur quisquam consequatur assumenda impedit officiis! Natus illo maiores id atque itaque.</p>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}